@import url('https://fonts.googleapis.com/css?family=Skranji');

:root {
  --c1: #8c8c8c;
  --laccent: #f7ea36; 
  --daccent: #2e363b;
  --dark: #212020;
  --light: #ffffff;
  --light-outline: 1px 1px 0 var(--dark), -1px -1px 0 var(--dark);
  --section-width: 320px;
}

body {
  background-color: var(--daccent);
  background-image: url('./asfalt-dark.png');
  color: var(--dark);
  font-family: 'Skranji', sans-serif;
  user-select: none;
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.app header {
  color: var(--light);
  text-shadow: var(--light-outline);
  font-size: 26px;
}

.app main {
  background-color: var(--dark);
  border: 1px solid var(--dark);
  border-radius: 4px;
  padding: 25px;

}

button {
  background-color: var(--laccent);
  border: 1px solid var(--daccent);
  box-shadow: 1px 1px 0.5px var(--dark);
  font-size: 18px;
  width: calc((var(--section-width) + 20px) / 3);
}

.app .soundPad {
  align-items: center;
  background-color: var(--dark);
  border: 1px solid var(--dark);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  width: calc(var(--section-width) + 20px);
}

.app .soundPad button {
  border-radius: 4px;
  padding: 10px;
}

.app .soundPad button:active,
.app .soundPad button:focus,
.app .soundPad button:target {
  color: var(--light);
  background-color: var(--daccent);
}

.app #display {
  background-color: var(--c1);
  border: 1px solid var(--dark);
  border-radius: 4px;
  padding: 10px;
  width: var(--section-width);
}

.app #display .text {
  color: var(--light);
  font-size: 36px;
  text-shadow: var(--light-outline);
}

.app .bank {
  background-color: var(--dark);
  border: 1px solid var(--dark);
  border-radius: 4px;
  padding: 10px;
  width: var(--section-width);
}

.app .bank button {
  border-radius: 4px;
  padding: 10px;
}

.pressed {
  background-color: var(--daccent);
  color: var(--light);
}
